
 body {
    padding:0;
    margin:0;
    background-image:url('img/sk4.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
 }
 h1 {
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    color:rgb(236, 69, 206);
    font-style:normal;
}
.siva {
    margin:250px auto;
    padding:5px 10px 15px 10px;
    width:350px;
    border:5px;
    height:350px;
    background-color:rgb(240,128,128);
    border-radius:5px;
}
.siva1 {
    display:block;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.siva2 { 
   width:95%;  
   height:22px;
   padding:5px 5px 5px 5px;
   margin: 5px 5px 5px 5px;
   border-radius:4px;
   
   
}
.siva2:focus {
    background-color:azure;
}

.siva3 {
   background-color:rgb(139, 188, 219);
   border-radius:4px;
   width:25%;
   padding:5px 5px 5px 5px;
   margin: 13px 5px 5px 5px;
   position:relative;
   left:36%;
   color:greenyellow
 
}
.siva4 {

   margin: 8px 5px 8px 5px; 
}
.s1 {
    color:black
}
