h1,soft {
   color:antiquewhite
}
h2 {
    color:rgb(188, 237, 237)
    max-width:2000px
    padding:15px 15px 15px 15px

}
h3 {
    color:azure
    max-width:2000px
    padding:15px 15px 15px 15px
}
h4 {
    color:rgb(217, 164, 164)
    max-width:2000px
    padding:15px 15px 15px 15px
}
id=siva {
    colourP:red
    max-width:2000px
    padding:15px 15px 15px 15px
}
p {
    max-width:2000px 
    padding:15px 15px 15px 15px
}
   
li {
    display:inline;
    margin:5px;
}
#siva {
    color:green
}
.www {
    color:green
}
.siva {
    border-radius:10px;
    margin:5px 5px ;

}
table {
    width:80%
    border-radius:10px;
}
.sk {
    margin:15px 15px 15px 15px;
    padding:15px 15px 15px 15px
}